<div class="container-fluid">
<div class="affix">
  <div class="row row_color1">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
        <div class="logo1"><a href="index.html"><img src="images/logo.png" alt="logo1" class="img-responsive" /></a></div>
        <div class="logo_caption">Diabeteksen Hoitopolku</div>
      </div>
      
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-right top_search">
        <!-- <form action="search.html" method="">
          <input type="search" name="q" id="tipue_search_input" autocomplete="off" class="top_inputsearch" placeholder="Haku" required>
          <input type="submit" value="" class="search_btn1" />
        </form> -->
        <!--<form action="search.html" method="">-->
          <input type="search" id="searchInput" class="top_inputsearch" placeholder="Haku" required>
          <input type="submit" value="" class="search_btn1" />
        <!--</form>-->
      </div>
    </div>
  </div>
  <div class="row row_color2">
    <div class="container ">
      <nav class="navbar navbar-default main_menu">
        <div class="container-fluid nav_wid"> 
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header ">
            <div class="col-xs-12 title_nav1">
            	  <div class="col-xs-9 no-padding">	
                    <!-- <div class="top_blue_curve">
                        <div class="top_curve_box">Kouvolan lääkärikeskus</div>
                        <div class="top_curve_right"></div>
                    </div> -->
                    <div class="top_fixed_logo">
                      <img src="images/kouvolan_logo.png" class="img-responsive" alt="kouvolan-logo"/>
                    </div> 
                 </div>   
                  <div class="col-xs-3 no-padding">
                		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                   </div>
          </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
          <!-- For Desktop version -->
          <div class="collapse navbar-collapse title_nav nav_wid" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav main_menu_nav">
              <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>Etusivu</a></li>
              <li><a href="milloin.html">Milloin epäilet diabetesta</a></li>
              <li><a href="diagnosointi.html">Diagnosointi</a></li>
              <li><a href="seuranta.html">Seuranta</a></li>
              <li><a href="hoitopolku.html">Hoitopolku</a></li>
              <li><a href="materiaalipankki.html">Materiaalipankki</a></li>
            </ul>
          </div>
        </div>
      </div>  
          <!-- /.container-fluid --> 
        </nav>
          </div>
    </div>
</div>
      <div class="row row_color3">
  <div class="container-fluid only_nav1">
      <div class="container">
      <div class="top_fixed_logo">
      	<img src="images/kouvolan_logo.png" class="img-responsive" alt="kouvolan-logo"/>
      </div>
      </div>
  </div>
    <div class="container">
          <div class="col-lg-12 no-padding">
        <div class="mil_main_pg"> <a href="komplikaatiot.html">
          <div class="back_button"></div>
          </a>
              <div class="akuutit_pg"></div>
              <h1 class="mil_pg_cnt materiaalipankki_cnt">Akuutit diabeteskomplikaatiot</h1>
            </div>
      </div>
        </div>
    <div class="container">
          <div class="col-lg-12 no-padding">
        
        <div class="tab-content clearfix">
              <div class="tab-pane active mil_tab1_cnt" id="1a">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding checklist">
               
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="mil_sub_tabs">	
                  <div class="card card_colo">
                    <div class="card-header" role="tab" id="heading1">
                      	
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Hypoglykemia
                            </a>
                          </h5>
                    	</div>
                    <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="heading1">
                      <div class="card-block akuutit_cnt">
                      	<div class="isi_cnt">                    
                        <div class="base" id="isi3" style="width:103%; overflow:scroll; position:relative">	
						<div>
                      	<h2>Hypoglykemia, eli alhainen verensokeri diabeetikolla</h2>
                        <ul>
                        	<li><strong>Verensokeri on liian alhainen, kun veriplasman glukoosiarvo on alle 4,0 mmol/l (millimoolia litrassa).</strong> Tilaa kutsutaan hypoglykemiaksi. Hypoglykemiaa esiintyy silloin tällöin useimmilla tyypin 1 diabetesta sairastavilla, jotka käyttävät insuliinia. Sen sijaan useimmat suun kautta käytettävät tyypin 2 diabeteksen lääkkeet eivät aiheuta liian alhaisia verensokeriarvoja. Poikkeuksena ovat sulfonyyliurea-lääkeryhmään kuuluvat lääkkeet, joiden yhteydessä hypoglykemiaa voi esiintyä.</li>
                            <h4>Alhaisen verensokerin hoito</h4>
                            <li>Alhaisen verensokerin korjaaminen pitää aloittaa heti, kun ensimmäiset siitä varoittavat oireet ilmestyvät. Epäselvissä tilanteissa verensokeri tarkistetaan pikamittauksella.</li>
                            <li>Hoitona on nopeasti imeytyvän hiilihydraatin nauttiminen. Useimmilla insuliinia saavilla diabeetikoilla esiintyy joskus hypoglykemiaa. Heitä opetetaan tunnistamaan siihen liittyvät oireet ja varmistamaan alhainen sokeriarvo kotimittauksella. Yleensä hypoglykemia korjaantuu helposti, kun nautitaan nopeasti imeytyvää hiilihydraattia (sokeria tai tärkkelystä).</li>
                            <li  class="akuutit_spec2">Ensiapuna voi käyttää jotain seuraavista, joista jokainen sisältää 20 grammaa hiilihydraattia:
                            	<ul>
                                	<li>kahdeksan kappaletta Siripiri-tai Dexal-glukoositabletteja</li>
                                    <li>kahdeksan sokeripalaa veteen liuotettuna</li>
                                    <li>kaksi ruokalusikallista hunajaa tai siirappia</li>
                                    <li>lasillinen (2 dl) hedelmätuoremehua tai sokeripitoista virvoitusjuomaa</li>
                                    <li>yksi banaani</li>
                                    <li>kaksi 100 gramman omenaa tai appelsiinia</li>
                                    <li>leipää, jos sokeripitoista syötävää ei ole saatavilla.</li>
                                </ul>
                            </li>
                            <li>Edellä mainitut hiilihydraattimäärät tavallisesti korjaavat alhaisen verensokerin, mutta eivät nosta verensokereita liikaa. Jos insuliinituntemukset ilmaantuvat pitkävaikutteisen insuliinin tai suun kautta nautittavan sulfonyyliurean vaikutuksesta, alhainen verensokeri voi uusiutua tulevina tunteina. Tällöin on aiheellista seurata verensokerin arvoja parin tunnein välein 4–6 tunnin ajan ja tarvittaessa uusia ylimääräinen hiilihydraattiannos. Jos käyttää pitkävaikutteista sulfonyyli-urea-lääkettä (glibenklamidia), verensokeria on syytä seurata 12 tunnin ajan.</li>
                            <h4>Muista aina selvittää hypoglykemian syy ja puuttua siihen!</h4>
                            <h4>Insuliinisokin hoito</h4>
                            <li>Insuliinisokki on tajuttomuustila, joka johtuu hyvin alhaisesta ja pitkään kestäneestä verensokerista. Tajuttomalle henkilölle ei tukehtumisvaaran vuoksi saa juottaa mitään. Välittömästi pitää huolehtia, että potilaan asento on turvallinen.</li>
                            <li style="margin:10px 0;">Kun epäilee insuliinisokkia, pitää soittaa paikalle välittömästi ambulanssi. Ambulanssin ensihoitajat voivat antaa potilaalle ensiavun.</li>
                            <li>Ensiapuna voidaan käyttää glukagonipistosta. Glukagoni on insuliinin vastavaikuttajahormoni, joka vapauttaa maksasta sokeria verenkiertoon. Glukagonia on saatavissa apteekista kertakäyttöruiskussa (GlucaGen), joka insuliinihoidossa olevan diabeetikon on hyvä hankkia kotiinsa. Omaisten, läheisten ja tarvittaessa työtovereiden tulee perehtyä pistoksen antamiseen etukäteen. Glukagonipistos annetaan mieluiten lihakseen (josta vaikutus alkaa nopeammin) tai ihon alle. Pistoksen jälkeen tajunta kirkastuu 15–20 minuutin kuluessa, jolloin diabeetikolle tarjotaan hiilihydraattipitoista syötävää. Jos tajunta ei tässä ajassa palaa, on viimeistään silloin kutsuttava välittömästi ambulanssi.</li>
                            <h4>Hypoglykemian syitä diabeetikolla</h4>
                            <li>Verensokeri laskee alle normaalin silloin, kun elimistössä on insuliinia liikaa tarpeeseen nähden. Alhainen verensokeri voi syntyä seuraavissa tilanteissa:
                            	<ul>
                                	<li><strong>Liikunta.</strong> Liikunta "kuluttaa" verensokeria, joka sen vuoksi pyrkii laskemaan. Liikunta yksinään ei aiheuta hypoglykemiaa, vaan siihen tarvitaan pistettyä insuliinia, jota on tilanteeseen nähden liikaa.</li>
                            		<li><strong>Niukka syöminen.</strong> Insuliiniannos määritellään normaalin syömisen mukaan. Jos jätetään ateria väliin tai syödään muuten tavallista vähemmän, saadaan liian vähän hiilihydraatteja elimistöön, jolloin pistetty insuliiniannos vaikuttaa liian voimakkaasti.</li>
                                    <li><strong>Runsas alkoholi.</strong> Alkoholi ei sinänsä laske verensokeria, mutta se estää sokerin muodostumisen maksassa. Näin elimistön tehokkain puolustuskeino hypoglykemiaa vastaan on poissa pelistä, jolloin hypoglykemian vaara suurenee.</li>
                                    <li><strong>Liian suuri insuliiniannos.</strong> Alhaisen verensokerin vaara on suurentunut, jos diabeteksen hoito ja insuliininannostus on viritetty liian "tiukaksi" (tällöin sokerihemoglobiinin arvo on yleensä alle 6,5 %). Vahingossa tai muusta syystä pistetty liian suuri insuliiniannos luonnollisesti johtaa helposti hypoglykemiaan.</li>
                                </ul>
                            </li>
							<h4>Hypoglykemian oireet (insuliinituntemukset)</h4>
                            <li>Kun verensokeri laskee alle 4,0 mmol/l, elimistössä käynnistyy vastatoimia, jotka pyrkivät palauttamaan verensokerin normaaliksi. Monet hormoneja valmistavat rauhaset aktivoituvat ja tuottavat verenkiertoon hormoneja, jotka eri tavoin pystyvät nostamaan verensokeria. Hormoneista tärkeimmät ovat glukagoni, adrenaliini ja kortisoli.</li>
                            <li>Hypoglykemiaan liittyy monenlaisia oireita. Osa johtuu pääasiassa vastavaikuttajahormoneiden, etenkin adrenaliinin, vaikutuksista. Siksi niitä nimitetään tässä kirjoituksessa "adrenaliinioireiksi". Ne ilmaantuvat melko äkisti ja ovat niitä, joita tavallisesti nimitetään insuliinituntemuksiksi.</li>
                            <li>Tietyt alhaisen verensokerin oireet johtuvat siitä, että keskushermoston solut eivät saa riittävästi sokeria (glukoosia) ravinnokseen. Niitä nimitetään tässä kirjoituksessa "hermosto-oireiksi". Adrenaliinioireet käynnistyvät ensimmäisinä, hermosto-oireet vasta, kun verensokeri laskee vielä alemmaksi (ks. kuva 1).</li>
                            <li>
                            	<p>Kuva 1. Alhainen verensokeri</p>
                                <div class="akuutit_cnt_grp"></div>
                            </li>
                            <li><strong>Adrenaliinioireet</strong> alkavat, kun verensokeri alittaa tason 3,3–3,5 mmol/l. Oireet ovat seuraavat:
                            	<ul>
                                	<li>vapina, käsien tärinä</li>
                                    <li>hermostuneisuus</li>
                                    <li>sydämentykytys (tiheä pulssi)</li>
                                    <li>hikoilu</li>
                                    <li>nälän tunne</li>
                                    <li>heikotus.</li>
                                </ul>
                            </li>
                            <li>Oireet ovat varsin tyypillisiä ja diabeetikko oppii tunnistamaan ne nopeasti. Oireet väistyvät 10–15 minuutin kuluessa, kun diabeetikko nauttii nopeasti imeytyvää hiilihydraattia.</li>
                            <li>Hermosto-oireetalkavat, kun verensokeri on laskenut tasolle 2,5–2,8 mmol/l. Oireet ovat seuraavat:
                            	<ul>
                                	<li>väsymys, uupumus</li>
                                    <li>keskittymisvaikeus, ajatus ei kulje</li>
                                    <li>päänsärky</li>
                                    <li>uneliaisuus</li>
                                    <li>huimaus, pyörrytys</li>
                                    <li>epätavallinen tai riitaisa käytös</li>
                                    <li>näön hämärtyminen, näkeminen kahtena</li>
                                    <li>pahimmassa tapauksessa kouristuksia ja tajuttomuus (jos verensokeri on laskenut alle 2 mmol/l).</li>
                                </ul>
                            </li>
                            <li>Hermosto-oireet ilmaantuvat salakavalammin kuin insuliinituntemukset, minkä vuoksi diabeetikko ei niitä aina havaitse. Diabeetikon on hyvä kertoa hermosto-oireista perheenjäsenille ja ystäville, jotta he tunnistaisivat oireet ja osaisivat tarjota hiilihydraattipitoista syötävää ajoissa.</li>
                            <h4>Hypoglykemian oireiden hämärtyminen</h4>
                            <li>Jos diabeetikolla esiintyy toistuvasti alhaisia verensokereita, elimistö turtuu insuliinituntemuksille. Tällöin vastatoimet käynnistyvät vajavaisesti, minkä seurauksena adrenaliinioireet muuntuvat ja ilmaantuvat vasta alemmilla verensokerin arvoilla. Ensimmäisinä oireina voi ilmetä hermosto-oireita (esimerkiksi ajatustoimintojen häiriöitä) tai olo tuntuu muuten oudolta. Diabeetikon on tärkeää oppia tunnistamaan nämä uudenlaiset oireet alhaisesta verensokerista johtuviksi, jotta hän osaa hoitaa tilanteen ajoissa.</li>
                            <li>Oireiden hämärtyminen on merkki siitä, että diabeteksen insuliinihoito on liian "tiukalla". Tällöin on syytä keskustella lääkärin tai diabeteshoitajan kanssa hoidon keventämisestä. Kun hypoglykemiat vähentyvät, herkkyys tuntea oireita palaa.</li>
                            <h4>Alhaisen verensokerin ehkäiseminen</h4>
                            <li>Alhaisia verensokereita voidaan ehkäistä insuliiniannoksia säätelemällä. Jos diabeetikolla on hyvin "tiukka" diabetestasapaino eli pitkänajan kokeessa sokerihemoglobiini on alle 6,5 % ja esiintyy usein alhaisia verensokereita, pitkävaikutteista perusinsuliiniannosta on syytä vähentää. Nyrkkisääntönä on vähentää annoksesta 5 prosenttia (esimerkiksi 40 yksiköstä vähennetään 2 yksikköä), mutta lisäohjeita saa lääkäriltä tai diabeteshoitajalta.</li>
                            <li style="margin:10px 0;">Seuraavassa on muita keinoja alhaisten verensokereiden vähentämiseksi:
                            	<ul>
                                	<li>Nautitaan ylimääräinen välipala, jos ateria viivästyy.</li>
                                    <li>Ennen liikunnan harrastamista nautitaan 20 grammaa ylimääräistä hiilihydraattia.</li>
                                    <li>Huolehditaan riittävästä syömisestä, kun käytetään useita annoksia.</li>
                                    <li>Jos verensokeri on alle 6 mmol/l ennen nukkumaanmenoa, nautitaan ylimääräinen iltapala.</li>
                                </ul>
                            </li>
                            <br>
                        </ul>
                      </div>
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                  <div class="card card_colo">
                    <div class="card-header" role="tab" id="heading2">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Ketoasidoosi
                        </a>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="heading2">
                      <div class="card-block akuutit_cnt">
                      	<div class="isi_cnt">                    
                        <div class="base" id="isi4" style="width:103%; overflow:scroll; position:relative">	
						<div>
                      		<ul>
                        	<li>Ketoasidoosista eli happomyrkytyksestä puhutaan silloin, kun diabeteksen yhteydessä elimistöön kertyy runsaasti ketoaineita (ketoosi) ja näistä aiheutuu veren ja kudosten happamuus (asidoosi). Ketoasidoosiin liittyy tyypillisesti myös vakava kuivuminen (dehydraatio). Ketoasidoosi syitä voivat olla <em>insuliininpuute, insuliinihoidon laiminlyönti, infektio, muu akuutti sairaus tai kortisonihoito</em>. Potilas tarvitsee sairaalahoitoa.</li>
                            <li>
                            <strong>Oirekuva</strong>
                            	<ul>
                                	<li>Korkea verensokeri (yli 15 mmol/l)</li>
                                    <li class="diabeet_cnt_spec4">Oireet (eivät aina selkeät)
                                    	<ul>
                                        	<li>Pahoinvointi</li>
                                            <li>Vatsakipu</li>
                                            <li>Oksentelu</li>
                                            <li>Jano</li>
                                            <li>Virtsan määrä on noussut</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                            	<strong>Veren ketoaineet </strong>
                                <div>Miten pitää toimia? </div>
                            	<ul class="akuutit_spec1">
                                	<li><div class="akuutit_undlin">alle 0,6 mmol/l </div>Ei erityistoimenpiteitä.</li>
									<li><div class="akuutit_undlin">0,6-1,5 mmol/l  </div>Korjaa kohonnutta verensokeria. Tarkista verensokeri ja ketoaineet parin tunnin välein.</li>
                                    <li><div class="akuutit_undlin">1,5-3  mmol/l  </div>Ketoasidoosin vaara on kasvanut. Jos potilas on huonovointinen tai verensokeri ei laske lisäinsuliinista huolimatta, ohjaa potilas päivystykseen. </li>
                                    <li><div class="akuutit_undlin">yli 3 mmol/l </div>Potilas sairaalahoitoon, soita 112.</li>
                                </ul>
                            </li>
                            <h4>Flunssa nostaa verensokeria</h4>
                            <li class="akuutit_spec3">Tulehdustaudit saattavat nostaa verensokerin tavanomaista korkeammaksi, vaikka diabeetikko yrittäisi syödä ja annostella insuliinia normaaliin tapaan. Infektiot ja kuume lisäävät monen diabeetikon insuliinin tarvetta, sillä insuliini ei tehoa tavalliseen tapaan. Sairastuneen kannattaakin seurata verensokeriaan tavallista tiuhemmin.</li>
                            <li class="akuutit_spec3">Yleensä tilanne korjaantuu insuliinin määrää lisäämällä, tarvittaessa ylimääräisin pistoksin. Jos verensokeri pysyy lisäinsuliinista huolimatta korkeana, kannattaa mitata myös ketoaineiden määrä virtsasta.</li>
                            <li class="akuutit_spec3">Flunssainen ei välttämättä tiedä, johtuuko huonovointisuus itse taudista vai lisääntyneistä ketoaineista. Mitä nuorempi ja kevyempi diabeetikko on, sitä tarkempi hän saa olla diabeteksen hoidossa sairauspäivinä.</li>
                            <li>Mahataudissa ja ripulissa verensokeri yleensä laskee, mutta virtsassa saattaa silti olla ketoaineita liittyen solujen energiavajeeseen ja toisaalta hypoglykemian aiheuttamaan glukagonineritykseen. Silloin insuliinia ei saa pistää lisää, vaan kannattaa harkita sairaalassa toteutettavaa sokeritiputusta hypoglykemiauhan takia, erityisesti jos kyseessä on pieni lapsi.</li>
                            <h4>Seuraa tilannetta</h4>
                            <li class="akuutit_spec3">Useimmiten ketoaineiden määrä laskee, kun verensokeri saadaan laskettua alle 15 millimooliin litrassa.</li>
                            <li class="akuutit_spec3">Jos veren ketoainepitoisuus on alle 0,6 millimoolia litrassa, diabeetikon ei tarvitse ryhtyä erityistoimenpiteisiin, vaan hänen pitää jatkaa verensokerin seurantaa ja huolehtia insuliiniannosten riittävyydestä.</li>
                            <li class="akuutit_spec3">Jos ketoaineita on 0,6–1,5 millimoolia litrassa, verensokeri ja ketoaineet pitää tarkistaa parin tunnin välein, ja verensokeria pitää pyrkiä laskemaan lisäinsuliinilla.</li>
                            <li class="akuutit_spec3">Jos ketoaineiden määrä nousee kolmeen millimooliin, on yhteydenotto päivystykseen jo tarpeen, sillä ketoasidoosin vaara on kasvanut. Jos ketoaineiden määrä ylittää kolme millimoolia litrassa, diabeetikon oikea paikka on sairaalahoidossa.</li>
                            <br>
                        </ul>
                        </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
                  
                </div>
          </div>
              
            </div>
      </div>
        </div>
        </div>
<!--Top Footer starts-->
<div class="row row_color4 ">
  <div class="container">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 footer_align">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img"> 
            <a href="komplikaatiot.html" class="img_circle first_img"></a> 
         </figure>
        <div class="footer_top_cnt ftr_top1"> <a href="komplikaatiot.html">Komplikaatiot</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img"> <a href="erityisryhmat.html" class="img_circle second_img"></a> </figure>
        <div class="footer_top_cnt ftr_top2"> <a href="erityisryhmat.html">Erityisryhmät</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img"> <a href="erityistilanteet.html" class="img_circle third_img"></a> </figure>
        <div class="footer_top_cnt ftr_top3"> <a href="erityistilanteet.html">Erityistilanteet</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center">
        <figure class="footer_top_img"> <a href="materiaalipankki.html" class="img_circle fourth_img"></a> </figure>
        <div class="footer_top_cnt ftr_top4"> <a href="materiaalipankki.html">Materiaalipankki</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img "> <a href="hoitopolku.html" class="img_circle fifth_img"></a> </figure>
        <div class="footer_top_cnt ftr_top5"> <a href="hoitopolku.html">Hoitopolku</a> </div>
         </div>
    </div>
  </div>
</div>

<div class="row row_color6">
  <div class="container no-padding">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-2 no-padding"> 
        <figure class="footer_logo">
          <a href="index.html"><img src="images/logo.png" class="img-responsive" alt="footer_logo" /></a>
        </figure>
      </div>
      <!--<div class="col-lg-6 col-md-6 col-sm-7 col-xs-10 no-padding pull-right footer_links">-->
      <div class="footer_links">
        <ul>
          <li><a href="https://www.lilly.fi/fi/privacy.aspx" target="_blank">Tietosuoja</a></li>
          <li><a href="https://www.lilly.fi/fi/terms-of-use.aspx" target="_blank">Käyttöehdot</a></li>
          <li><a href="yhteystiedot.html" target="_blank">Yhteystiedot</a></li>
          <li><a href="https://www.lilly.fi/fi/copyright.aspx" target="_blank">Copyright</a></li>
          <li><a>FIEBS00073 01/2017</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    </div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
          <div class="modal-body">
        <div class="row">
              <div class="col-md-4">Content</div>
              <div class="col-md-4 col-md-offset-4">Content1 Content2 Content3</div>
            </div>
      </div>
        </div>
  </div>
    </div>
</div>
<!-- <div class="cookie-message ui-widget-header blue">
      <p>By using this website you allow us to place cookies on your computer. They are harmless and never personally identify you.</p>
      <a class="cookiebar-close">Continue</a>
</div> -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/bootstrap-tabcollapse.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cookieBar/0.0.1/jquery.cookieBar.js"></script>
<script src="https://eucookie.xh1.lilly.com/Scripts/EUCookiesScript.js" type="text/javascript"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script src="js/iscroll-lite.js"></script> 
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.js"></script>
<script>
	$(document).ready(function(){
	  $('.skin-square input').iCheck({
		checkboxClass: 'icheckbox_square-green',
		radioClass: 'iradio_square-green',
		increaseArea: '20%'
	  });
	});
</script>-->
<script type="text/javascript">
    function changeState(el) {
        if (el.readOnly) el.checked=el.readOnly=false;
        else if (!el.checked) el.readOnly=el.indeterminate=true;
    }
	iScroll3 = new iScroll('isi3', {scrollbars: true,fadeScrollbars:true,hScrollbar: false, vScrollbar: true, fixedScrollbar:true,bounce:false,hideScrollbar:false });
	iScroll4 = new iScroll('isi4', {scrollbars: true,fadeScrollbars:true,hScrollbar: false, vScrollbar: true, fixedScrollbar:true,bounce:false,hideScrollbar:false });

	if (iScroll3) setTimeout(function() {
        iScroll3.refresh();
		},300)
	if (iScroll4) setTimeout(function() {
        iScroll4.refresh();
		},300)
</script>