<div class="container-fluid">
<div class="affix">
  <div class="row row_color1">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
        <div class="logo1"><a href="index.html"><img src="images/logo.png" alt="logo1" class="img-responsive" /></a></div>
        <div class="logo_caption">Diabeteksen Hoitopolku</div>
      </div>
      
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-right top_search">
        <!-- <form action="search.html" method="">
          <input type="search" name="q" id="tipue_search_input" autocomplete="off" class="top_inputsearch" placeholder="Haku" required>
          <input type="submit" value="" class="search_btn1" />
        </form> -->
        <!--<form action="search.html" method="">-->
          <input type="search" id="searchInput" class="top_inputsearch" placeholder="Haku" required>
          <input type="submit" value="" class="search_btn1" />
        <!--</form>-->

      </div>
    </div>
  </div>
  <div class="row row_color2">
    <div class="container ">
      <nav class="navbar navbar-default main_menu">
        <div class="container-fluid nav_wid"> 
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header ">
            <div class="col-xs-12 title_nav1">
            	  <div class="col-xs-9 no-padding">	
                    <!-- <div class="top_blue_curve">
                        <div class="top_curve_box">Kouvolan lääkärikeskus</div>
                        <div class="top_curve_right"></div>
                    </div>  -->
                    <div class="top_fixed_logo">
                      <img src="images/kouvolan_logo.png" class="img-responsive" alt="kouvolan-logo"/>
                    </div>
                 </div>   
                  <div class="col-xs-3">
                		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                   </div>
          </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          
          
          <!-- For Desktop version -->
          <div class="collapse navbar-collapse title_nav nav_wid" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav main_menu_nav">
              <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>Etusivu</a></li>
              <li><a href="milloin.html">Milloin epäilet diabetesta</a></li>
              <li><a href="diagnosointi.html">Diagnosointi</a></li>
              <li><a href="seuranta.html">Seuranta</a></li>
              <li><a href="hoitopolku.html">Hoitopolku</a></li>
              <li><a href="materiaalipankki.html">Materiaalipankki</a></li>
            </ul>
          </div>
        </div>
        <!-- /.container-fluid --> 
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="row row_color3">
  <div class="container-fluid only_nav1">
      <div class="container">
      <div class="top_fixed_logo">
      	<img src="images/kouvolan_logo.png" class="img-responsive" alt="kouvolan-logo"/>
      </div>
      </div>
  </div>
    <div class="container">
          <div class="col-lg-12">
        <div class="mil_main_pg"> <a href="erityistilanteet.html">
          <div class="back_button"></div>
          </a>
              <div class="akuutisti_korkea_pg_icon"></div>
              <h1 class="mil_pg_cnt materiaalipankki_cnt"> Akuutisti korkea verensokeri </h1>
            </div>
      </div>
        </div>
    <div class="container">
          <div class="col-lg-12">
        <ul class="nav nav-pills mil_tab milloin_tab" id="myTab">
              <li class="active"><a data-toggle="tab" href="#1a" class="mil_tab1">Muistilista</a></li>
              <!--<li ><a data-toggle="tab" href="#2a" class="mil_tab2">Materiaalit</a></li>
                <li><a data-toggle="tab" href="#3a" class="mil_tab3">Linkit</a></li>-->
            </ul>
        <div class="tab-content clearfix tab_cnt">
              <div class="tab-pane active mil_tab1_cnt" id="1a">
            <div class="col-lg-12 no-padding checklist">
                  <ul class="diab_list_cnt raskus_top">
                <li><strong>Mikäli potilaalla on verensokeri <span class="diabeet_cnt_head">yli 20 mmol/l</span> tai verensokeri on <span class="diabeet_cnt_head">yli 15 mmol/l ja ketoaineet ovat koholla</span>, lähetä potilas Pohjois-Kymen sairaalan päivystykseen.</strong>
                      <ul>
                    <li>Ketoaineet kannattaa mitata aina, kun verensokeri on <strong>yli 15 mmol/l</strong> tai kun diabetesta sairastava potilas on oireinen. Hapot ovat merkki insuliininpuutteesta, ja elimistö tarvitsee tällöin lisäinsuliinia. Ketoaineet mitataan verestä, lääkärikeskukselta löytyy useampi mittari. Tiedustele mittaria tarvittaessa diabeteshoitajalta.</li>
                  </ul>
                    </li>
                    <li><strong>Veren ketoaineet </strong>
                    <div>Miten pitää toimia? </div>
                    	<ul>
                        	<li><div class="akuutit_undlin">alle 0,6 mmol/l </div>Ei erityistoimenpiteitä.</li>
                            <li><div class="akuutit_undlin">0,6-1,5 mmol/l  </div>Korjaa kohonnutta verensokeria. Tarkista verensokeri ja ketoaineet parin tunnin välein. </li>
                            <li><div class="akuutit_undlin">1,5-3  mmol/l </div>Ketoasidoosin vaara on kasvanut. Jos potilas on huonovointinen tai verensokeri ei laske lisäinsuliinista huolimatta, ohjaa potilas päivystykseen. </li>
                            <li><div class="akuutit_undlin">yli 3 mmol/l  </div>Potilas sairaalahoitoon, soita 112.</li>
                        </ul>
                    </li>
                <li><strong>Diabeetikon ketoasidoosi on aina hengenvaarallinen.</strong>
                	  <div>Ketoasidoosin oirekuva:</div>
                      <ul>
                    	<li>Korkea verensokeri (yli 15 mmol/l)</li>
                        <li class="diabeet_cnt_spec6">Oireet (eivät aina selkeät)
                        	<ul>
                            	<li>Pahoinvointi</li>
                                <li>Vatsakipu</li>
                                <li>Oksentelu</li>
                                <li>Jano</li>
                                <li>Virtsan määrä on noussut</li>
                            </ul>
                        </li>
                  	  </ul>
                    </li>
              </ul>
                </div>
          </div>
      </div>
      </div>
      </div>
      </div>
<!--Top Footer starts-->
<div class="row row_color4 ">
  <div class="container">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 footer_align">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img"> 
            <a href="komplikaatiot.html" class="img_circle first_img"></a> 
         </figure>
        <div class="footer_top_cnt ftr_top1"> <a href="komplikaatiot.html">Komplikaatiot</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img"> <a href="erityisryhmat.html" class="img_circle second_img"></a> </figure>
        <div class="footer_top_cnt ftr_top2"> <a href="erityisryhmat.html">Erityisryhmät</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img"> <a href="erityistilanteet.html" class="img_circle third_img"></a> </figure>
        <div class="footer_top_cnt ftr_top3"> <a href="erityistilanteet.html">Erityistilanteet</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center">
        <figure class="footer_top_img"> <a href="materiaalipankki.html" class="img_circle fourth_img"></a> </figure>
        <div class="footer_top_cnt ftr_top4"> <a href="materiaalipankki.html">Materiaalipankki</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img "> <a href="hoitopolku.html" class="img_circle fifth_img"></a> </figure>
        <div class="footer_top_cnt ftr_top5"> <a href="hoitopolku.html">Hoitopolku</a> </div>
         </div>
    </div>
  </div>
</div>

<div class="row row_color6">
  <div class="container no-padding">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-2 no-padding"> 
      	<figure class="footer_logo">
      		<a href="index.html"><img src="images/logo.png" class="img-responsive" alt="footer_logo" /></a>
        </figure>
      </div>
      <!--<div class="col-lg-6 col-md-6 col-sm-7 col-xs-10 no-padding pull-right footer_links">-->
      <div class="footer_links">
        <ul>
          <li><a href="https://www.lilly.fi/fi/privacy.aspx" target="_blank">Tietosuoja</a></li>
          <li><a href="https://www.lilly.fi/fi/terms-of-use.aspx" target="_blank">Käyttöehdot</a></li>
          <li><a href="yhteystiedot.html" target="_blank">Yhteystiedot</a></li>
          <li><a href="https://www.lilly.fi/fi/copyright.aspx" target="_blank">Copyright</a></li>
          <li><a>FIEBS00073 01/2017</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="cookie-message ui-widget-header blue">
      <p>By using this website you allow us to place cookies on your computer. They are harmless and never personally identify you.</p>
      <a class="cookiebar-close">Continue</a>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/bootstrap-tabcollapse.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cookieBar/0.0.1/jquery.cookieBar.js"></script>
<script src="https://eucookie.xh1.lilly.com/Scripts/EUCookiesScript.js" type="text/javascript"></script>
<script type="text/javascript" src="js/custom.js"></script>