<div class="container-fluid">
<div class="affix">
<div class="row row_color1">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
      <div class="logo1"><a href="index.html"><img src="images/logo.png" alt="logo1" class="img-responsive" /></a></div>
      <div class="logo_caption">Diabeteksen Hoitopolku</div>
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-right top_search">
      <!-- <form action="search.html" method="">
        <input type="search" name="q" id="tipue_search_input" autocomplete="off" class="top_inputsearch" placeholder="Haku" required>
        <input type="submit" value="" class="search_btn1" />
      </form> -->
      <!--<form action="search.html" method="">-->
          <input type="search" id="searchInput" class="top_inputsearch" placeholder="Haku" required>
          <input type="submit" value="" class="search_btn1" />
        <!--</form>-->
    </div>
  </div>
</div>
<div class="row row_color2">
  <div class="container ">
    <nav class="navbar navbar-default main_menu">
      <div class="container-fluid nav_wid"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
          <div class="col-xs-12 title_nav1">
          	  <div class="col-xs-9 no-padding">	
                  <!-- <div class="top_blue_curve">
                      <div class="top_curve_box">Kouvolan lääkärikeskus</div>
                      <div class="top_curve_right"></div>
                  </div>  -->
                  <div class="top_fixed_logo">
                    <img src="images/kouvolan_logo.png" class="img-responsive" alt="kouvolan-logo"/>
                  </div>
               </div>   
                <div class="col-xs-3 no-padding">
              		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                 </div>
        </div>
              
              <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- For Desktop version -->
        <div class="collapse navbar-collapse title_nav nav_wid" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav main_menu_nav">
            <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>Etusivu</a></li>
            <li><a href="milloin.html">Milloin epäilet diabetesta</a></li>
            <li><a href="diagnosointi.html">Diagnosointi</a></li>
            <li><a href="seuranta.html">Seuranta</a></li>
            <li><a href="hoitopolku.html">Hoitopolku</a></li>
            <li><a href="materiaalipankki.html">Materiaalipankki</a></li>
          </ul>
        </div>
      </div>
    </div>  
        <!-- /.container-fluid --> 
      </nav>
        </div>
  </div>
  </div>
      <div class="row row_color3">
  <div class="container-fluid only_nav1">
      <div class="container">
      <div class="top_fixed_logo">
      	<img src="images/kouvolan_logo.png" class="img-responsive" alt="kouvolan-logo"/>
      </div>
      </div>
  </div>
    <div class="container">
          <div class="col-lg-12 no-padding">
        <div class="mil_main_pg"> <a href="komplikaatiot.html">
          <div class="back_button"></div>
          </a>
              <div class="diabeetikon_pg"></div>
              <h1 class="mil_pg_cnt materiaalipankki_cnt">Diabeetikon jalkaongelmat</h1>
            </div>
      </div>
        </div>
    <div class="container">
          <div class="col-lg-12 no-padding">
        	<div class="diab_top_cnt"><a href="pdf/Komplikaatiot/Alaraajaongelmien_kiireellisyysluokka.docx" target="_blank" download="Alaraajaongelmien kiireellisyysluokka">Alaraajaongelmien kiireellisyysluokka</a></div>	
        <div class="tab-content clearfix">
              <div class="tab-pane active mil_tab1_cnt" id="1a">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding checklist">
               
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="mil_sub_tabs">	
                  <div class="card card_colo">
                    <div class="card-header" role="tab" id="heading1">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Charcot n jalka
                        </a>
                      </h5>
                    </div>
					
                            <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="heading1">
                          <div class="card-block akuutit_cnt diabeet_cnt">
                            <div class="isi_cnt">                    
                        <div class="base" id="isi" style="width:103%; height:300px; overflow:scroll; position:relative">	
						<div>
                            <h2>Diabeetikon jalkaongelmat</h2>
                            <h4 class="diabeet_cnt_spec1">Charcot ́n jalan diagnoosi</h4>
                            <ul>
                                <li>Luotettavaa menetelmää Charcot ́n jalan diagnosoimiseksi ei ole. Diagnoosi perustuu kliinisten löydösten ohella natiiviröntgen- ja magneettikuvalöydökseen. </li>
                                <li>Keskeisiä kliinisiä merkkejä ovat tulehduksen aiheuttama taikinamainen turvotus, punoitus ja kuumoitus. Myös lievää tai kohtalaista kipua voi esiintyä. 
                                    <ul>
                                        <li>Jalan lämmön kohoaminen on todettavissa käsin koettamalla (erottanee luotettavasti 0.5–1.0 °C:n eron). Taudin seurannassa käytetään iholämpömittareita. </li>
                                        <li>Akuutissa vaiheessa jalkojen lämpötilaero yli 2.0 °C on diagnostinen.</li>
                                    </ul>
                                </li>
                                <li>Erotusdiagnostiikassa tulee huomioida infektio (selluliitti), syvä laskimotromboosi ja kihti. 
                                    <ul>
                                        <li>Charcot’n jalkaan ei liity yleisoireita, kuten kuumetta tai yleistilan heikkenemistä. </li>
                                        <li>Charcot`n jalassa CRP-pitoisuus pysyy usein normaalina tai suurenee vain vähän. </li>
                                        <li>Iho on yleensä ehjä. </li>
                                    </ul>
                                </li>
                                <li>Varhainen diagnoosi vaikuttanee merkittävästi hoitotulokseen.  
                                    <ul>
                                        <li>Potilasta tulee informoida Charcot ́n jalan mahdollisuudesta ja korostaa varhaisen hoitoon hakeutumisen tärkeyttä. </li>
                                        <li>Diabeetikon punoittavaa, kuumoittavaa ja turvonnutta jalkaa on pidettävä Charcot ́n jalkana kunnes toisin osoitetaan. </li>
                                    </ul>
                                </li>
                                <li>Taudin alkua edeltää viikkoja tai jopa kuukausia aiemmin esiintynyt pieni tai kohtalainen trauma tai poikkeava rasitus (joskus rasitusmurtuma esimerkiksi os navicularessa).   
                                    <ul>
                                        <li>Akuutin trauman yhteydessä ilmaantunut poikkeavan suuri luutuho suhteessa vammaenergiaan viittaa myös Charcot ́n jalkaan. </li>
                                        <li>Tyypillistä on nivelen dislokoituminen ja murtuma jalkaterän keskiosassa. </li>
                                    </ul>
                                </li>
                                <li>Radiologiset tutkimukset ovat diagnostiikan apuvälineitä, magneettikuvaus on alkuvaiheessa paras diagnoosin varmistava varhaisvaiheen tutkimus. </li>
                                <li>Varhainen diagnoosi on edellytys onnistuneelle hoidolle.</li>
                                <h4>Charcot ́n jalan konservatiivinen hoito</h4>
                                <h4>Jalan lepo, immobilisaatio ja varaamattomuus ovatCharcot ́n jalan tärkein hoito!</h4>
                                <li class="diabeet_cnt_spec2">Immobilisaation toteutus:   
                                    <ul>
                                        <li>Potilaalle valmistetaan lasikuidusta tai muovista hyvin istuva kipsisaapas.</li>
                                        <li>Charcot ́n jalan kipsaus on vaativaa kipsimestarin työtä.</li>
                                        <li>Kipsisaapas tulee vaihtaa aluksi viikoittain ihon tarkastamiseksi ja turvotuksen vähentyessä kipsin istuvuuden varmistamiseksi. </li>
                                    </ul>
                                </li>
                                <li>Jos akuutissa tulehdusvaiheessa olevassa Charcot ́n jalassa on haava, toteutetaan immobilisaatio ortoosilla haavan hoidon mahdollistamiseksi. </li>
                                <li>Immobilisaatiota ja varaamattomuutta jatketaan, kunnes tulehdusvaihe on rauhoittunut (useimmiten 3–6 kuukautta). Tämän arviointi perustuu ensisijassa kliinisiin merkkeihin. 
                                <ul>
                                    <li>Punoitus ja pinkeä turvotus häviävät yleensä muutamassa viikossa. </li>
                                    <li>Turvotus vähenee edelleen ja ihon lämpötila laskee vähitellen. Lämpötilaeron tulee olla toiseen jalkaan verrattuna enintään 1.0 °C ennen kuin immobilisaatio voidaan lopettaa. </li>
                                    <li>Magneettikuvauksessa todettava luuturvotusmuutosten väheneminen on merkki tulehduksen rauhoittumisesta. </li>
                                </ul>
                                </li>
                                <li>Kipsihoidon jälkeen aloitettava mobilisaatio toteutetaan usein ortoosilla tukien nilkkaa ja jalkaterää. 
                                <ul>
                                    <li>Kuormitus aloitetaan asteittain arvioiden esimerkiksi päivittäistä askelmäärää. </li>
                                    <li>Jalan tilannetta seurataan huolella; liian varhain aloitettu tai liian runsas kuormitus johtaa tulehduksen aktivoitumiseen, jolloin rasitusta tulee vähentää. </li>
                                </ul>
                                </li>
                                 <li>Taudin parannuttua (luun sklerosoiduttua) potilas siirtyy yksilöllisten ortopedisten jalkineiden käyttöön.  
                                <ul>
                                    <li>Tämän jälkeenkin tulee jalkaa seurata taudin mahdollisen aktivoitumisen ja haavariskin vuoksi. </li>
                                </ul>
                                </li>
                                <li>Jos tauti on diagnosoitu alkuvaiheessa ja hoito onnistuu hyvin, syntynyt epämuodostuma voi olla niin vähäinen, että potilas voi käyttää normaaleja jalkineita. </li>
                                <li>Luuaineenvaihduntaan kohdistuva bisfosfonaattilääkehoito (pamidronaatti, alendronaatti) saattaa jossain määrin nopeuttaa akuutin vaiheen rauhoittumista, mutta luotettavaa tutkimusnäyttöä tästä ei vielä ole.</li>
                                <h4>Charcot ́n jalan etiologia</h4>
                                <li>Charcot ́n jalalla (Charcot ́n neuro-osteoartropatialla) tarkoitetaan akuuttina jalkaterän tai nilkan tulehduksena alkavaa tilaa, joka johtaa luiden ja nivelten tuhoutumiseen ja virheasentoon.   
                                    <ul>
                                        <li>Ensimmäinen tulehdusvaihe vaihe voi kestää kuukausia, ja sen aikana luu tai nivel taikka molemmat tuhoutuvat (stage I: dissolution). </li>
                                        <li>Toisessa vaiheessa tulehdus hiipuu eikä virheasento enää lisäänny (stage II: coalescence). </li>
                                        <li>Kolmannessa vaiheessa tauti pysähtyy, mutta syntynyt virheasento jää pysyväksi (stage III: resolution).</li>
                                    </ul>
                                </li>
                                <li>Tämä vaurioittaa tavallisimmin jalkaterän keskiosaa (articulationes tarsometatarsales, articulatio talonavicularis tai a. cuneonavicularis) mutta voi esiintyä myös nilkassa, kantaluussa tai jalkaterän etuosassa. </li>
                                <li><em>Charcot ́n jalka</em>    
                                    <ul>
                                        <li>ilmenee vain niillä diabeetikoilla, joilla on perifeerinen neuropatia</li>
                                        <li>lienee ylipainoisilla tavallisempi kuin normaalipainoisilla </li>
                                        <li>saattaa ilmetä raajan revaskularisaation jälkeen (on harvinainen iskeemisessa raajassa)</li>
                                        <li>melko usein ennakoi Charcot ́n neuroartropatian ilmaantumista myös toiseen jalkaan </li>
                                        <li>ilmaantuvuus on noin 8.5 tapausta tuhatta diabeetikkoa kohti vuodessa. </li>
                                    </ul>
                                </li>
                                <li>Patogeneesi:    
                                    <ul>
                                        <li>Laukaisevana tekijänä on jokin tulehduksen aiheuttava tekijä, tavallisimmin trauma, mutta sen voi laukaista myös infektio, haava tai leikkaus (kuten varvasamputaatio). </li>
                                        <li>Poikkeavan voimakas paikallinen tulehdusvaste ja sen aiheuttama luun hajoaminen ovat keskeisiä.</li>
										<br><br>
                                    </ul>
                                </li>
                            </ul>
							</div>
                          </div>
                        </div>
                        </div>
                    </div>    
                  </div>
                  <div class="card card_colo">
                    <div class="card-header" role="tab" id="heading2">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Akuutti alaraajaiskemia
                        </a>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="heading2">
                      <div class="card-block akuutit_cnt">
                      	<!--<h2 class="akuutit_undlin">AKUUTTI ALARAAJAISKEMIA</h2>-->
                      	<ul>
                        	<li>Tavoitteena on, että akuutti alaraajaiskemia tunnistetaan ja potilas ohjataan hoitoon päivystysluontoisesti.</li>
                            <h4>Akuutin iskemian oireet ja diagnoosi</h4>
                            <li  class="diabeet_cnt_spec2">Aiheuttajana voi olla krooniseniskemian akutisoituminen ateroskleroottisen suonen trombosoituessa (40 %), aikaisemman verisuonirekonstruktion tukkeutuminen (20 %) tai embolia (40 %), joka on useimmiten sydänperäinen.
                            	<ul>
                                	<li>Oireet
                                    	<ul>
                                        	<li>Viiden P:n sääntö: pain, pallor, pulselessness, paresthesia, paralysis</li>
                                            <li>Voidaan todeta myös raajan viileys toiseen puoleen verrattuna ja lämpöraja iholla.</li>
                                            <li>Jos jalkaterä on syanoottinen, tunto ja/tai motoriikka on häiriintynyt (testaa jalan ja varpaiden dorsifleksio), verenkierto on palautettava 6 tunnissa.</li>
                                        </ul>
                                    </li>
                                    <li>Diagnoosi
                                    	<ul>
                                        	<li>Emboliassa on akuutti alku. Taustalla on eteisvärinä, sydäninfarkti tms.</li>
                                            <li>Kroonisen iskemian akutisoitumisessa on hitaampi alku, usein klaudikaatioanamneesi ja viitteet iskemiasta toisessakin alaraajassa.</li>
                                            <li>Erotusdiagnoosina on massiivinen ileofemoraalinen laskimotukos, jonka oireita ovat raajan turvotus ja syanoosi sekä laskimoiden verentäyteisyys.</li>
                                        </ul>
                                    </li>
                                    <li>Jos raaja on syanoottinen ja jäykkä, tulee tehdä välitön reisiamputaatio potilaan hengen pelastamiseksi.</li>
                                </ul>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card card_colo jalkan_align">
                    <div class="card-header" role="tab" id="heading3">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <span class="jalkan_align">Yleistä ja lisätietoa diabeetikon jalkaongelmista</span>
                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="heading3">
                      <div class="card-block akuutit_cnt diabeet_cnt" id="isi1" style="width:100%; height:330px; overflow:hidden;  position:relative">
					  <div>
                      	<!--<h2 class="diabeet_cnt_head">YLEISTÄ JA LISÄTIETOA DIABEETIKON JALKAONGELMISTA</h2>-->
                      	<ul>
                        	<li>Diabetekseen liittyvät jalkaongelmat ovat merkittävä kansanterveydellinen haitta ja sairauskulujen aiheuttaja. Diabeetikoiden määrän kasvaessa Suomessa myös nämä ongelmat lisääntyvät. Vaikutukset näkyvät sairaanhoitokuluina, avun tarpeena ja kuolleisuutena. </li>
                           <li>Diabetes ja sen seuraukset altistavat alaraaja-amputaatioille, joista yli puolet olisi ehkäistävissä. Suomessa tehtävistä nilkan yläpuolisista alaraaja-amputaatioista noin puolet tehdään diabeetikoille (suunnilleen 450 vuodessa). </li>
                           <li>Diabeetikon jalkaongelmien tärkeimmät syyt ovat neuropatia ja iskemia yhdessä ulkoisen vaurion kanssa. Lisäksi infektiot voivat vaikuttaa merkittävästi jalkaongelman kehitykseen. </li>
                           <li>Diabetekseen jo sairastuneilla on olennaista 
                           		<ul>
                                	<li>estää perifeerisen neuropatian, tukkivan ääreisvaltimotaudin ja niiden komplikaatioiden kehittyminen </li>
                                    <li>kohdistaa jalkahaavoja ehkäisevät toimenpiteet riskiryhmiin, erityisesti perifeeristä neuropatiaa sairastaviin. </li>
                                </ul>
                           </li>
                           <li>Perusterveydenhuollon ja erikoissairaanhoidon moniammatillinen yhteistyö ja tehokas hoitoketju ehkäisevät diabeetikon jalan kudosvaurioita ja siten amputaatioita.</li>
                           <h4>Miksi diabeetikon jalat ovat vaarassa?</h4>
                           <li class="diabeet_cnt_spec2"><em>Jalkaongelman riskitekijät ja patofysiologia</em>
                           		<ul>
                                	<li>Diabeetikon jalkaongelmien vaaraa lisäävät itse diabetekseen liittyvät tekijät (komplikaatiot ja hoitotasapaino) ja paikalliset tekijät (jalkineet ja jalkojen puutteellinen hoito). </li>
                                    <li>Diabeetikolla jalkahaavan ilmaantumisen vaaraa lisäävät seuraavat tekijät: 
                                    	<ul>
                                            <li>Merkittävimmät riskitekijät ovat neuropatian seurauksena kehittynyt suojatunnon puutos ja aiemmin jalkaan kohdistuneen amputaation jälkitila.</li>
                                            <li>Tärkeitä riskitekijöitä ovat myös diabeteksen pitkä kesto (yli kymmenen vuotta), näkövammaisuus, nefropatia, iskemia, asentovirheet, huono glukoositasapaino, miessukupuoli ja tupakointi. </li>
                                            <li>Jalkahaava on keskeinen uuden jalkahaavan riskitekijä. </li>
                                        </ul>
                                    </li>
                                </ul>
                           </li>
                           <li>Diabeetikon jalkahaavan ääreishermoston neuropatialla on keskeinen merkitys. 
                           		<ul>
                                	<li>Sensorinen neuropatia johtaa jalan tuntohäiriöihin ja motorinen neuropatia, joihin liittyy usein poikkeava kävelytyyli. Lisäksi autonominen neuropatia johtaa ihon kuivumiseen ja halkeamiin. </li>
                                    <li>Tuntohäiriö altistaa (vähäpätöiseltä näyttävälle) ihovauriolle. Myötävaikuttavana tekijänä voivat olla huonosti istuvat kengät, kävely paljain jaloin, vierasesine kengässä tai äkillinen hankaus. </li>
                                    <li>Ihovaurio johtaa krooniseen jalkahaavaan, koska diabeetikko jatkaa suoja- ja kiputunnon puuttuessa vauriokohdan kuormittamista ja estää siten haavaa paranemasta. </li>
                                    <li>Väärä biomekaaninen kuormitus paksuntaa ihoa (kallus),mikä edelleen pahentaa kuormitusvirhettä ja johtaa usein ihonalaiseen verenpurkaumaan ja haavan syntymiseen. </li>
                                </ul>
                           </li>
                           <li>Alaraajan tukkiva ääreisvaltimotauti ilman neuropatiaa voi johtaa iskeemiseen haavaan, jonka aiheuttajana on useimmiten vähäpätöinen vamma, tai aiheuttaa kuolion (tyypillisimmin varvaskuolion). </li>
                           <li>Haava tai kuolio on diabeetikolla tavallisin infektioportti.Infektio huonontaa haavan paranemista erityisesti iskeemisessa jalassa.</li>
                           <h4>Jalan kliininen tutkiminen ja riskiluokitus</h4>
                           <li class="diabeet_cnt_spec2">Kliininen tutkimus tulee tehdä vähintään kerran vuodessa, tarvittaessa useammin, paikallisesti sovitun työnjaon mukaisesti. 
                           		<ul>
                                	<li>Tavoitteena ovat riskiluokitustaulukon mukaiset tarkistukset. </li>
                                    <li>Huomio tulee kuitenkin kohdistaa riskiluokkien 2–3 potilaisiin, sillä valtaosa ongelmista esiintyy näissä riskiluokissa. </li>
                                </ul>
                           </li>
                           <li class="diab_num">
                           		Diabeetikon jalan perustutkimus ei vie kauan: 
                                <ol>
                                	<li><span>1.</span>Kirjaa aiemmat amputaatiot ja aiemmat jalkahaavat. </li>
                                    <li><span>2.</span>Tutki jalan rakenne. </li>
                                    <li><span>3.</span>Tutki jalan suojatunto monofilamentin avulla.</li>
                                    <li><span>4.</span>Arvioi jalan verenkierto vähintään sykkeiden palpaatiolla.</li>
                                    <li><span>5.</span>Tarkista jalkineet.</li>
                                    <li><span>6.</span>Kirjaa löydökset.</li>
                                    <li><span>7.</span>Arvioi riskiluokka vuosittain</li>
                                </ol>
                           </li>
                           <li>Diabeetikon jalan riskiluokitus: 
                           		<ul>
                                	<li>Riskiluokitus ennustaa diabeetikon jalkahaavan ja amputaation ilmaantuvuutta ja jopa kuolleisuutta. </li>
                                    <li>Riskiluokkiin 2 ja 3 kuuluu jopa 20 –50 % diabeetikoista keskimäärin kymmenen vuoden sairastamisen jälkeen.</li>
                                    <li>Arvioon vaikuttavat kuitenkin tutkittu potilasaineisto, potilaiden hoitotasapaino ja tautityyppi. </li>
                                    <div class="diabeteksen_img"></div>
                                </ul>
                           </li>
                           <h4>Ehkäisy ja riskipotilaan jalkojen hoito</h4>
                           <li class="diabeet_cnt_spec2">Valtaosa amputaatioista olisi estettävissä tehokkaalla varhaisella diagnostiikalla ja hoidolla. </li>
                           <li>Tärkein hoito on diabeetikon jalkaongelmien ehkäisy.</li>
                           <li>Ehkäisy ja seuranta tulee aloittaa jo silloin, kun diabetes todetaan. </li>
                           <li>Terveydenhuollon ammattilaisen tekemät säännölliset jalkojen seulontatutkimukset ovat tärkeitä jalkariskien toteamiseksi.</li>
                           <li>Ongelmien esiintyessä tulee potilas ohjata jalkaterapeutille, jalkojenhoitajalle tai jatkohoitoon.</li>
                           <li><em>Jalkojen omahoito-ohje potilaalle:</em>
                           		<ul>
                                	<li>Omahoitotottumusten tarkistus </li>
                                    <li>Jalkojen perushoito</li>
                                    <li>Jalkojen päivittäistarkistus ja ohjeet poikkeavien löydösten ilmaantuessa Poikkeavien löydösten (esimerkiksi ihorikko, haava, kynnen ympäristön punoitus, kipu) ilmaantuessa raaja on asetettava heti lepoon ja potilaan on otettava yhteyttä sovittuun hoitopaikkaan parin vuorokauden kuluessa, ellei paranemisen merkkejä todeta. </li>
                                    <li>Jalkavoimistelu virheasentojen ehkäisemiseksi</li>
                                    <li>Kynsien hoito </li>
                                    <li>Sukkien valinta </li>
                                    <li>Jalkineiden valinta </li>
                                    <li>Yksilöllisesti valmistettujen erityisjalkineiden tarve on pysyvä.</li>
                                </ul>
                           </li>
                           <li class="diab_tab"><em>Erikoissairaanhoitoon lähettämisen aiheet, kiireellisyys ja hoitopaikka (hoitopaikka ratkaistaan alueellisesti).</em>
                           		<table class="table">
                                	<thead>
                                    	<tr>
                                        	<td>Kiireellisyysluokka</td>
                                            <td>Ongelma</td>
                                            <td>Mihin lähetetään</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr>
                                        	<td rowspan="4">Päivystyslähete</td>
                                            <td>Keskivaikea tai vaikea jalkainfektio (haava tai ei haavaa)</td>
                                            <td>Pohjois-Kymen sairaalan (PoKS) päivystys</td>
                                        </tr>
                                        <tr>
                                            <td>Akuutti alaraajaiskemia</td>
                                            <td>PoKS:n päivystys</td>
                                        </tr>
                                        <tr>
                                            <td>Akuutti Charcot´n jalka tai epäily siitä</td>
                                            <td>PoKS:n päivystys</td>
                                        </tr>
                                        <tr>
                                            <td>Kriittinen iskemia tai iskeeminen haava (sykkeet eivät palpoidu)</td>
                                            <td>PoKS:n päivystys / Verisuonikirurgian poliklinikka</td>
                                        </tr>
                                         <tr>
                                            <td>Kiireelliset potilaat, 1-7 vuorokautta</td>
                                            <td>Nopeasti etenevä diabeettinen haava (ei iskemiaa)</td>
                                            <td>Lähete Kirurgian poliklinikalle</td>
                                        </tr>
                                        <tr class="diab_tab1">
                                            <td rowspan="5">Kiireeettömät potilaat, yli 8 vuorokautta</td>
                                            <td>Diabeetikon jalkahaava, joka ei ole reagoinut konservatiiviseen hoitoon</td>
                                            <td><span class="diabeet_cnt_underline">Vaskulaarinen ongelma</span>: Lähete Kirurgian poliklinikalle 
                                            <span class="diabeet_cnt_underline">Neuropaattinen ongelma</span>: moniammatillinen jalkatyöryhmä</td>
                                        </tr>
                                        <tr>
                                            <td>Hoitoa edellyttävät virheasennot (haava tei ei haavaa)</td>
                                            <td>Lähete Ortopedian poliklinikalle</td>
                                        </tr>
                                        <tr>
                                            <td>Kevennyshoidon erityisarvion tarve (esimerkiksi pohjallis- ja jalkinekysymykset)</td>
                                            <td>Terveyskeskus tai moniammatillinen jalkatyöryhmä</td>
                                        </tr>
                                        <tr>
                                            <td>Krooninen osteomyeliitti ilman haavaa</td>
                                            <td>Lähete Ortopedian poliklinikalle</td>
                                        </tr>
                                        <tr>
                                            <td>Etiologialtaan epäselvä jalkahaava (ei neuropatiaa eikä iskemiaa)</td>
                                            <td>Lähete Ihotautien poliklinikalle</td>
                                        </tr>
                                    </tbody>
                                </table>
                           </li>
                           <li></li>
                           <li></li>
                           <li></li><br><br><br><br><br>
                        </ul>
						</div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
                  
                </div>
          </div>
              
            </div>
      </div>
        </div>
  </div>
<!--Top Footer starts-->
<div class="row row_color4 ">
  <div class="container">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 footer_align">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img"> 
            <a href="komplikaatiot.html" class="img_circle first_img"></a> 
         </figure>
        <div class="footer_top_cnt ftr_top1"> <a href="komplikaatiot.html">Komplikaatiot</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img"> <a href="erityisryhmat.html" class="img_circle second_img"></a> </figure>
        <div class="footer_top_cnt ftr_top2"> <a href="erityisryhmat.html">Erityisryhmät</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img"> <a href="erityistilanteet.html" class="img_circle third_img"></a> </figure>
        <div class="footer_top_cnt ftr_top3"> <a href="erityistilanteet.html">Erityistilanteet</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center">
        <figure class="footer_top_img"> <a href="materiaalipankki.html" class="img_circle fourth_img"></a> </figure>
        <div class="footer_top_cnt ftr_top4"> <a href="materiaalipankki.html">Materiaalipankki</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
      <div class="mil_link text-center"> 
        <figure class="footer_top_img "> <a href="hoitopolku.html" class="img_circle fifth_img"></a> </figure>
        <div class="footer_top_cnt ftr_top5"> <a href="hoitopolku.html">Hoitopolku</a> </div>
         </div>
    </div>
  </div>
</div>

<div class="row row_color6">
  <div class="container no-padding">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-2 no-padding"> 
        <figure class="footer_logo">
          <a href="index.html"><img src="images/logo.png" class="img-responsive" alt="footer_logo" /></a>
        </figure>
      </div>
      <!--<div class="col-lg-6 col-md-6 col-sm-7 col-xs-10 no-padding pull-right footer_links">-->
      <div class="footer_links">
        <ul>
          <li><a href="https://www.lilly.fi/fi/privacy.aspx" target="_blank">Tietosuoja</a></li>
          <li><a href="https://www.lilly.fi/fi/terms-of-use.aspx" target="_blank">Käyttöehdot</a></li>
          <li><a href="yhteystiedot.html" target="_blank">Yhteystiedot</a></li>
          <li><a href="https://www.lilly.fi/fi/copyright.aspx" target="_blank">Copyright</a></li>
          <li><a>FIEBS00073 01/2017</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    </div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
          <div class="modal-body">
        <div class="row">
              <div class="col-md-4">Content</div>
              <div class="col-md-4 col-md-offset-4">Content1 Content2 Content3</div>
            </div>
      </div>
        </div>
  </div>
    </div>
    <!-- <div class="cookie-message ui-widget-header blue">
          <p>By using this website you allow us to place cookies on your computer. They are harmless and never personally identify you.</p>
          <a class="cookiebar-close">Continue</a>
    </div> -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/bootstrap-tabcollapse.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cookieBar/0.0.1/jquery.cookieBar.js"></script>
<script src="https://eucookie.xh1.lilly.com/Scripts/EUCookiesScript.js" type="text/javascript"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script src="js/iscroll-lite.js"></script> 
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.js"></script>
<script>
	$(document).ready(function(){
	  $('.skin-square input').iCheck({
		checkboxClass: 'icheckbox_square-green',
		radioClass: 'iradio_square-green',
		increaseArea: '20%'
	  });
	});
</script>-->
<script type="text/javascript">
    function changeState(el) {
        if (el.readOnly) el.checked=el.readOnly=false;
        else if (!el.checked) el.readOnly=el.indeterminate=true;
    }
	
	iScroll1 = new iScroll('isi', {scrollbars: true,fadeScrollbars:true,hScrollbar: false, vScrollbar: true, fixedScrollbar:true,bounce:false,hideScrollbar:false });
	iScroll2 = new iScroll('isi1', {scrollbars: true,fadeScrollbars:true,hScrollbar: false, vScrollbar: true, fixedScrollbar:true,bounce:false,hideScrollbar:false });

	if (iScroll1) setTimeout(function() {
        iScroll1.refresh();
		},300)
	if (iScroll2) setTimeout(function() {
        iScroll2.refresh();
		},300)
</script>