<div class="container-fluid">
<div class="affix">
<div class="row row_color1">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
      <div class="logo1"><a href="index.html"><img src="images/logo.png" alt="logo1" class="img-responsive" /></a></div>
      <div class="logo_caption">Diabeteksen Hoitopolku</div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-right top_search">
      <!-- <form action="search.html" method="">
        <input type="search" name="q" id="tipue_search_input" autocomplete="off" class="top_inputsearch" placeholder="Haku" required>
        <input type="submit" value="" class="search_btn1" />
      </form> -->
      <!--<form action="search.html" method="">-->
          <input type="search" id="searchInput" class="top_inputsearch" placeholder="Haku" required>
          <input type="submit" value="" class="search_btn1" />
        <!--</form>-->
    </div>
  </div>
</div>
<div class="row row_color2">
  <div class="container ">
    <nav class="navbar navbar-default main_menu">
      <div class="container-fluid nav_wid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
          <div class="col-xs-12 title_nav1">
          	  <div class="col-xs-9 no-padding">
                  <!-- <div class="top_blue_curve">
                      <div class="top_curve_box">Kouvolan lääkärikeskus</div>
                      <div class="top_curve_right"></div>
                  </div>  -->
                  <div class="top_fixed_logo">
                    <img src="images/kouvolan_logo.png" class="img-responsive" alt="kouvolan-logo"/>
                  </div>
               </div>
                <div class="col-xs-3 no-padding">
              		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                 </div>
        </div>

              <!-- Collect the nav links, forms, and other content for toggling -->

        <!-- For Desktop version -->
        <div class="collapse navbar-collapse title_nav nav_wid" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav main_menu_nav">
            <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>Etusivu</a></li>
            <li><a href="milloin.html">Milloin epäilet diabetesta</a></li>
            <li><a href="diagnosointi.html">Diagnosointi</a></li>
            <li><a href="seuranta.html">Seuranta</a></li>
            <li><a href="hoitopolku.html">Hoitopolku</a></li>
            <li class="active"><a href="materiaalipankki.html">Materiaalipankki</a></li>
          </ul>
        </div>
      </div>
      </div>
        <!-- /.container-fluid -->
      </nav>
        </div>
  </div>
</div>
      <div class="row row_color3">
  <div class="container-fluid only_nav1">
      <div class="container">
      <div class="top_fixed_logo">
      	<img src="images/kouvolan_logo.png" class="img-responsive" alt="kouvolan-logo"/>
      </div>
      </div>
  </div>
    <div class="container">
          <div class="col-lg-12">
        <div class="mil_main_pg"> <a href="index.html">
          <div class="back_button"></div>
          </a>
              <div class="materiaalipankki_pg_icon"></div>
              <h1 class="mil_pg_cnt materiaalipankki_cnt"> Materiaalipankki </h1>
            </div>
      </div>
        </div>
    <div class="container">
          <div class="col-lg-12">
        <ul class="nav nav-pills mil_tab milloin_tab" id="myTab">
              <!--<li><a data-toggle="tab" href="#1a" class="mil_tab1">Checklist</a></li>-->
              <li class="active"><a data-toggle="tab" href="#2a" class="mil_tab2">Materiaalit</a></li>
              <li><a data-toggle="tab" href="#3a" class="mil_tab3">Linkit</a></li>
            </ul>
        <div class="tab-content clearfix tab_cnt">
              <!--<div class="tab-pane active mil_tab1_cnt" id="1a">
                	<div class="col-lg-12 no-padding checklist">
	         	 		<h3>Diabeteksen oireet</h3>
                        <ul class="diab_list_cnt">
                        	<li>Kun elimistössä on insuliinin puutos tai insuliini ei tehoa, sokeria  kertyy liikaa vereen. <span class="visible-lg-block visible-md-block visible-sm-block"></span>Tästä aiheutuvat tyypilliset diabeteksen oireet ovat:
                            	<ul >
                                	<li>virtsanerityksen lisääntyminen</li>
                                    <li>jano</li>
                                    <li>tahaton laihtuminen</li>
                                    <li>väsymys</li>
                                </ul>
                            </li>
                            <li>Tyypin 1 diabeteksen toteamisen viivästyminen voi johtaa happomyrkytykseen, joka on hengenvaarallinen tila. Sen oireita ovat pahoinvointi, oksentelu, vatsakivut ja asetonin haju hengityksessä, uneliaisuus ja lopulta tajuttomuus.</li>
                            <li>Tyypin 2 diabetekselle on ominaista hidas kehittyminen ja salakavala oireettomuus. Oireina voi ilmetä väsymystä ja vetämättömyyttä varsinkin aterioiden  jälkeen, masennusta ja ärtyisyyttä, jalkasärkyjä, näön heikkenemistä ja tulehdusherkkyyttä. Tyypin 2 diabeetikkojen lähisukulaisten on hyvä tarkistuttaa verensokeriarvonsa aika ajoin, varsinkin jos ilmenee taipumusta keskivartalolihavuuteen. Voit myös käyttää <a href="#">riskitestiä</a>.</li>
                        </ul>
                        <ul class="checklist_bottom">
                        	<li> <span></span>Kriteerit
                            	<ul>
                                	<li>Pre-diabetes
                                    	<ul>
                                        	<li><span>-</span> Jos plasman glukoosipitoisuuden paastoarvo on 6,1–6,9 mmol/l, puhutaan suurentuneesta glukoosipitoisuuden paastoarvosta (impaired fasting glucose, IFG). <strong></strong></li>
                                            <li><span>-</span> Jos plasman glukoosipitoisuuden kahden tunnin arvo on 7,8 mmol/l–11,0 mmol/l, 		              puhutaan heikentyneestä glukoosinsiedosta (impaired glucose tolerance, IGT).<strong></strong></li>
                                        </ul>
                                    </li>
                                    <li>Diabetes
                                    	<ul>
                                        	<li><span>-</span> oireisella henkilöllä <strong></strong>
                                            	<ul>
                                                	<li><span>-</span> paastoplasman glukoosipitoisuus (vähintään 8 tuntia ravinnotta) on 7 mmol/l tai suurempi  tai</li>
                                                    <li><span>-</span> 2 tunnin arvo sokerirasituskokeessa on plasmasta  mitattuna yli 11 mmol/l</li>
                                                </ul>
                                            </li>
                                            <li><span>-</span> oireettomalla henkilöllä jompikumpi kohta tulee todeta  vähintään kahdesti.<strong></strong></li>
                                            <li><span>-</span> Verensokerin viitearvoista lisää täällä.<strong></strong></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <div class="milloin_btn">
                       		 	<button type="button" class="btn btn-default" data-toggle="modal" data-targer="#milloin_popup">Laboratoriotutkimukset <span></span></button>
                        	</div>
                        </ul>

                    </div>
				</div>-->
              <div class="tab-pane active mil_tab1_cnt" id="2a">
            <div class="materiaalit_tab">
                  <ul class="materiaalit_pdf">
                <li><span></span><div class="materiaalit_pdf_cnt">Diabetespotilaan polku</div><div class="materiaalit_pdf_btn"><a href="pdf/Materiaalipankki/Diabetespotilaan_polku.pdf" target="_blank" download="Diabetespotilaan_polku">
                  <button type="button" class="btn btn-default">Avaa</button>
                  </a></div></li>
                <li><span></span><div class="materiaalit_pdf_cnt">Sinulla on todettu diabeteksen esiaste</div><div class="materiaalit_pdf_btn"><a href="pdf/Materiaalipankki/sinulla_on_todettu_diabeteksen_esiaste.pdf" target="_blank" download="Sinulla_on_todettu_diabeteksen_esiaste">
                  <button type="button" class="btn btn-default">Avaa</button>
                  </a></div></li>
                <li><span></span><div class="materiaalit_pdf_cnt">Omahoitolomake </div><div class="materiaalit_pdf_btn"><a href="pdf/Materiaalipankki/Omahoitolomake.pdf" target="_blank" download="Omahoitolomake">
                  <button type="button" class="btn btn-default">Avaa</button>
                  </a></div></li>
                <li><span></span><div class="materiaalit_pdf_cnt">Jatkosuunnitelmalomake </div><div class="materiaalit_pdf_btn"><a href="pdf/Materiaalipankki/Jatkosuunnitelmalomake.pdf" target="_blank" download="Jatkosuunnitelmalomake">
                  <button type="button" class="btn btn-default">Avaa</button>
                  </a></div></li>
                <li><span></span><div class="materiaalit_pdf_cnt">Yleiset hoitotavoitteet </div><div class="materiaalit_pdf_btn"><a href="pdf/Materiaalipankki/Diabeetikon_yleiset_hoitotavoitteet.pdf" target="_blank" download="Diabeetikon_yleiset_hoitotavoitteet">
                  <button type="button" class="btn btn-default">Avaa</button>
                  </a></div></li>
                  <li><span></span><div class="materiaalit_pdf_cnt">Yleiset diabeetikon laboratoriokokeet </div><div class="materiaalit_pdf_btn"><a href="pdf/Materiaalipankki/Yleiset_diabeetikon_laboratoriokokeet.pdf" target="_blank" download="Yleiset_diabeetikon_laboratoriokokeet">
                  <button type="button" class="btn btn-default">Avaa</button>
                  </a></div></li>
              </ul>
                </div>
          </div>
              <div class="tab-pane" id="3a">
            <ul class="materiaalit_link">
            	  <li><span></span>OmaLilly: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.omalilly.fi');" target="_blank" class="">http://www.omalilly.fi</a></li>
                  <li><span></span>Diabeteksen riskitesti: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.diabetes.fi/files/3105/Diabeteksen_riskitesti_lomake.pdf');" target="_blank" class="">http://www.diabetes.fi /files/3105/ Diabeteksen_riskitesti _lomake.pdf</a></li>
                  <li><span></span>Lääkkeen valinta, interaktiivinen kaavio: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.terveysportti.fi/xmedia/hoi/diabeteskaavio/varhainen_diabetes.html');" target="_blank" class="">http://www.terveysportti .fi/xmedia/hoi/ diabeteskaavio/varhainen _diabetes.html</a></li>
                  <li><span></span>Käypä Hoito-suositus: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.kaypahoito.fi/web/kh/suositukset/suositus?id=hoi50056');" target="_blank" class="">http://www.kaypahoito .fi/web/kh/suositukset /suositus?id=hoi50056</a></li>
                  <li><span></span>Audit-lomake: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.terveysportti.fi/xmedia/hoi/hoi50028b.pdf');" target="_blank" class="">http://www.terveysportti .fi/xmedia/hoi/ hoi50028b.pdf</a></li>
                  <li><span></span>BDI-kysely: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.terveyskirjasto.fi/xmedia/pgr/BDI.pdf');" target="_blank" class="">http://www.terveyskirjasto .fi/xmedia/pgr/BDI.pdf</a></li>
                  <li><span></span>Liikkumisresepti: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.ukkinstituutti.fi/liikkumisresepti/materiaalit');" target="_blank" class="">http://www.ukkinstituutti .fi/liikkumisresepti/materiaalit</a></li>
                  <li><span></span>HbA1c-muuntotaulukko: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://terveysportti.fi/dtk/ltk/koti?p_haku=HbA1c');" target="_blank" class="">http://terveysportti .fi/dtk/ltk/koti? p_haku=HbA1c</a></li>
                  <li><span></span>GFR-laskuri: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.terveysportti.fi/xmedia/pgr/200.003.html');" target="_blank" class="">http://terveysportti .fi/dtk/ltk/koti ?p_haku=gfr</a></li>
                  <li><span></span>BMI-laskuri: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://terveysportti.fi/xmedia/pgr/bmilaskuri.htm');" target="_blank" class="">http://terveysportti .fi/xmedia/pgr/ bmilaskuri.htm</a></li>
                  <li><span></span>Munuaiset ja lääke: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://terveysportti.fi/terveysportti/renbase.koti');" target="_blank" class="">http://terveysportti.fi /terveysportti /renbase.koti</a></li>
                  <li><span></span>Pharmaca Fennica: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://terveysportti.fi/terveysportti/laakkeet.koti');" target="_blank" class="">http://terveysportti.fi /terveysportti /laakkeet.koti</a></li>
                  <li><span></span>KELA lääkekorvaukset: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.kela.fi/laakkeet-ja-laakekorvaukset');" target="_blank" class="">http://www.kela.fi/ laakkeet-ja- laakekorvaukset</a></li>
                  <li><span></span>Ajoterveysvaatimukset: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.diabetes.fi/files/6948/Turvallista_matkaa!_Ohjeita_laakareille.pdf  ');" target="_blank" class="">http://www.diabetes.fi /files/6948 /Turvallista_matkaa!_ Ohjeita _laakareille.pdf</a></li>
                  <li><span></span>Diabetes ja ajoterveys, potilaalle:  <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.diabetes.fi/files/6949/Turvallista_matkaa!_Ohjeita_diabeetikoille.pdf');" target="_blank" class="">http://www.diabetes.fi/files/6949/Turvallista_matkaa!_Ohjeita_diabeetikoille.pdf</a></li>

                  <li><span></span>Diabetesliitto: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.diabetesliitto.fi ');" target="_blank" class="">www.diabetesliitto.fi</a> </li>
                  <li><span></span>Suomen sydänliitto: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.sydan.fi');" target="_blank" class="">www.sydan.fi</a></li>
                  <li><span></span>Elintarvikkeiden tietopankki: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.fineli.fi');" target="_blank" class="">www.fineli.fi</a></li>
                  <li><span></span>UKK-instituutti: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.ukkinstituutti.fi');" target="_blank" class="">www.ukkinstituutti.fi</a></li>
                  <li><span></span>Suomi Mies: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.suomimies.fi');" target="_blank" class="">www.suomimies.fi</a></li>
                  <li><span></span>Suun terveys, oppaita aiheeseen: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.metropolia.fi/koulutusohjelmat/terveys-ja-hoitoala/suun-terveydenhuolto/suunhoidon-opetusklinikka/ohjeita-ja-oppaita/');" target="_blank" class="">http://www.metropolia.fi/ koulutusohjelmat/ terveys-ja-hoitoala/suun-terveydenhuolto/ suunhoidon-opetusklinikka/ohjeita-ja-oppaita/</a></li>
                </ul>
          </div>
            </div>
      </div>
  </div>
</div>
<!--Top Footer starts-->
<div class="row row_color4 ">
  <div class="container">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 footer_align">
      <div class="mil_link text-center">
        <figure class="footer_top_img">
            <a href="komplikaatiot.html" class="img_circle first_img"></a>
         </figure>
        <div class="footer_top_cnt ftr_top1"> <a href="komplikaatiot.html">Komplikaatiot</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center">
        <figure class="footer_top_img"> <a href="erityisryhmat.html" class="img_circle second_img"></a> </figure>
        <div class="footer_top_cnt ftr_top2"> <a href="erityisryhmat.html">Erityisryhmät</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center">
        <figure class="footer_top_img"> <a href="erityistilanteet.html" class="img_circle third_img"></a> </figure>
        <div class="footer_top_cnt ftr_top3"> <a href="erityistilanteet.html">Erityistilanteet</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center">
        <figure class="footer_top_img"> <a href="materiaalipankki.html" class="img_circle fourth_img"></a> </figure>
        <div class="footer_top_cnt ftr_top4"> <a href="materiaalipankki.html">Materiaalipankki</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
      <div class="mil_link text-center">
        <figure class="footer_top_img "> <a href="hoitopolku.html" class="img_circle fifth_img"></a> </figure>
        <div class="footer_top_cnt ftr_top5"> <a href="hoitopolku.html">Hoitopolku</a> </div>
         </div>
    </div>
  </div>
</div>

<div class="row row_color6">
  <div class="container no-padding">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-2 no-padding">
        <figure class="footer_logo">
          <a href="index.html"><img src="images/logo.png" class="img-responsive" alt="footer_logo" /></a>
        </figure>
      </div>
      <!--<div class="col-lg-6 col-md-6 col-sm-7 col-xs-10 no-padding pull-right footer_links">-->
      <div class="footer_links">
        <ul>
          <li><a href="https://www.lilly.fi/fi/privacy.aspx" target="_blank">Tietosuoja</a></li>
          <li><a href="https://www.lilly.fi/fi/terms-of-use.aspx" target="_blank">Käyttöehdot</a></li>
          <li><a href="yhteystiedot.html" target="_blank">Yhteystiedot</a></li>
          <li><a href="https://www.lilly.fi/fi/copyright.aspx" target="_blank">Copyright</a></li>
          <li><a>FIEBS00073 01/2017</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<!--POP UP1 start-->
<div class="modal fade" id="exampleModa1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.diabetes.fi/files/3105/Diabeteksen_riskitesti_lomake.pdf" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP1 end-->
<!--POP UP2 start-->
<div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.terveysportti.fi/xmedia/hoi/diabeteskaavio/varhainen_diabetes.html" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP2 end-->
<!--POP UP3 start-->
<div class="modal fade" id="exampleModa3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.kaypahoito.fi/web/kh/suositukset/suositus?id=hoi50056" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP3 end-->
<!--POP UP4 start-->
<div class="modal fade" id="exampleModa4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.terveysportti.fi/xmedia/hoi/hoi50028b.pdf" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP4 end-->
<!--POP UP5 start-->
<div class="modal fade" id="exampleModa5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.terveyskirjasto.fi/xmedia/pgr/BDI.pdf" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP5 end-->
<!--POP UP6 start-->
<div class="modal fade" id="exampleModa6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.ukkinstituutti.fi/liikkumisresepti/materiaalit" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP6 end-->
<!--POP UP7 start-->
<div class="modal fade" id="exampleModa7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://terveysportti.fi/dtk/ltk/koti?p_haku=HbA1c" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP7 end-->
<!--POP UP8 start-->
<div class="modal fade" id="exampleModa8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://terveysportti.fi/dtk/ltk/koti?p_haku=gfr" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP8 end-->
<!--POP UP9 start-->
<div class="modal fade" id="exampleModa9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://terveysportti.fi/xmedia/pgr/bmilaskuri.htm" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP9 end-->
<!--POP UP10 start-->
<div class="modal fade" id="exampleModa10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://terveysportti.fi/terveysportti/renbase.koti" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP10 end-->
<!--POP UP11 start-->
<div class="modal fade" id="exampleModa11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://terveysportti.fi/terveysportti/laakkeet.koti" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP11 end-->
<!--POP UP12 start-->
<div class="modal fade" id="exampleModa12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.kela.fi/laakkeet-ja-laakekorvaukset" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP12 end-->
<!--POP UP13 start-->
<div class="modal fade" id="exampleModa13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.diabetes.fi/files/6948/Turvallista_matkaa!_Ohjeita_laakareille.pdf" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP13 end-->
<!--POP UP14 start-->
<div class="modal fade" id="exampleModa14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.diabetesliitto.fi" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP14 end-->
<!--POP UP15 start-->
<div class="modal fade" id="exampleModa15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.sydan.fi" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP15 end-->
<!--POP UP16 start-->
<div class="modal fade" id="exampleModa16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.fineli.fi" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP16 end-->
<!--POP UP17 start-->
<div class="modal fade" id="exampleModa17" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.ukkinstituutti.fi" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP17 end-->
<!--POP UP18 start-->
<div class="modal fade" id="exampleModa18" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.suomimies.fi" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP18 end-->
<!--POP UP19 start-->
<div class="modal fade" id="exampleModa19" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.metropolia.fi/koulutusohjelmat/terveys-ja-hoitoala/suun-terveydenhuolto/suunhoidon-opetusklinikka/ohjeita-ja-oppaita/" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP19 end-->
<!--POP UP20 start-->
<div class="modal fade" id="exampleModa20" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.diabetes.fi/files/6949/Turvallista_matkaa!_Ohjeita_diabeetikoille.pdf" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP20 end-->
<!--POP UP21 start-->
<div class="modal fade" id="exampleModa21" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.metropolia.fi/koulutusohjelmat/terveys-ja-hoitoala/suun-terveydenhuolto/suunhoidon-opetusklinikka/ohjeita-ja-oppaita/" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP21 end-->
<!--popups start-->
  <div class="modal fade in" id="external_link_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
       <button type="button" class="btn popup_btn_left" onClick="call_ext_link();" data-dismiss="modal">Jatka</button>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="cookie-message ui-widget-header blue">
    <p>By using this website you allow us to place cookies on your computer. They are harmless and never personally identify you.</p>
    <a class="cookiebar-close">Continue</a>
</div> -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cookieBar/0.0.1/jquery.cookieBar.js"></script>
<script src="js/bootstrap-tabcollapse.js"></script>
<script src="https://eucookie.xh1.lilly.com/Scripts/EUCookiesScript.js" type="text/javascript"></script>
<script type="text/javascript" src="js/custom.js"></script>

<script type="text/javascript">
var curr_path;
function set_path(val) {
    curr_path = val;
}
function call_ext_link(){
  window.open(curr_path,'_blank');
}
</script>
