<div class="container-fluid">
<div class="affix">
<div class="row row_color1">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
      <div class="logo1"><a href="index.html"><img src="images/logo.png" alt="logo1" class="img-responsive" /></a></div>
      <div class="logo_caption">Diabeteksen Hoitopolku</div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-right top_search">
      <!-- <form action="search.html" method="">
        <input type="search" name="q" id="tipue_search_input" autocomplete="off" class="top_inputsearch" placeholder="Haku" required>
        <input type="submit" value="" class="search_btn1" />
      </form> -->
      <!--<form action="search.html" method="">-->
          <input type="search" id="searchInput" class="top_inputsearch" placeholder="Haku" required>
          <input type="submit" value="" class="search_btn1" />
        <!--</form>-->

    </div>
  </div>
</div>
<div class="row row_color2">
  <div class="container ">
    <nav class="navbar navbar-default main_menu">
      <div class="container-fluid nav_wid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
          <div class="col-xs-12 title_nav1">
          	  <div class="col-xs-9 no-padding">
                  <div class="top_fixed_logo">
                    <img src="images/kouvolan_logo.png" class="img-responsive" alt="kouvolan-logo"/>
                  </div>
               </div>
                <div class="col-xs-3 no-padding">
              		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                 </div>
        </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- For Desktop version -->
        <div class="collapse navbar-collapse title_nav nav_wid" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav main_menu_nav">
            <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>Etusivu</a></li>
            <li class="active"><a href="milloin.html">Milloin epäilet diabetesta</a></li>
            <li><a href="diagnosointi.html">Diagnosointi</a></li>
            <li><a href="seuranta.html">Seuranta</a></li>
            <li><a href="hoitopolku.html">Hoitopolku</a></li>
            <li><a href="materiaalipankki.html">Materiaalipankki</a></li>
          </ul>
        </div>
      </div>
    </div>
        <!-- /.container-fluid -->
      </nav>
        </div>
  </div>
</div>
      <div class="row row_color3">
  <div class="container-fluid only_nav1">
      <div class="container">
      <div class="top_fixed_logo">
      	<img src="images/kouvolan_logo.png" class="img-responsive" alt="kouvolan-logo"/>
      </div>
      </div>
  </div>
    <div class="container">
          <div class="col-lg-12">
        <div class="mil_main_pg"> <a href="index.html">
          <div class="back_button"></div>
          </a>
              <div class="mil_pg_img"></div>
              <h1 class="mil_pg_cnt"> Milloin epäilet diabetesta </h1>
            </div>
      </div>
        </div>
    <div class="container">
          <div class="col-lg-12 no-padding">
        <ul class="nav nav-pills mil_tab milloin_tab" id="myTab">
              <li class="active"><a data-toggle="tab" id="heading1" href="#1a" class="mil_tab1">Muistilista</a></li>
              <li><a data-toggle="tab" href="#2a" id="heading2" class="mil_tab2">Materiaalit</a></li>
              <li><a data-toggle="tab" href="#3a" id="heading3" class="mil_tab3">Linkit</a></li>
            </ul>
        <div class="tab-content clearfix tab_cnt">
              <div class="tab-pane active mil_tab1_cnt" id="1a">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding checklist">
                  <!--<h3>Diabeteksen oireet</h3>-->
                  <!--<ul class="diab_list_cnt">
                <li>Kun elimistössä on insuliinin puutos tai insuliini ei tehoa, sokeria  kertyy liikaa vereen. <span class="visible-lg-block visible-md-block visible-sm-block"></span>Tästä aiheutuvat tyypilliset diabeteksen oireet ovat:
                      <ul >
                    <li>virtsanerityksen lisääntyminen</li>
                    <li>jano</li>
                    <li>tahaton laihtuminen</li>
                    <li>väsymys</li>
                  </ul>
                    </li>
                <li>Tyypin 1 diabeteksen toteamisen viivästyminen voi johtaa happomyrkytykseen, joka on hengenvaarallinen tila. Sen oireita ovat pahoinvointi, oksentelu, vatsakivut ja asetonin haju hengityksessä, uneliaisuus ja lopulta tajuttomuus.</li>
                <li>Tyypin 2 diabetekselle on ominaista hidas kehittyminen ja salakavala oireettomuus. Oireina voi ilmetä väsymystä ja vetämättömyyttä varsinkin aterioiden  jälkeen, masennusta ja ärtyisyyttä, jalkasärkyjä, näön heikkenemistä ja tulehdusherkkyyttä. Tyypin 2 diabeetikkojen lähisukulaisten on hyvä tarkistuttaa verensokeriarvonsa aika ajoin, varsinkin jos ilmenee taipumusta keskivartalolihavuuteen. Voit myös käyttää <a href="#">riskitestiä</a>.</li>
              </ul>-->
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="mil_sub_tabs">
                  <div class="card">
                    <div class="card-header" role="tab" id="heading1">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Diabeteksen oireet
                        </a>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="heading1">
                      <div class="card-block">
                        <ul>
                        	<li><span></span>Kun elimistössä on insuliinin puutos tai insuliini ei tehoa, sokeria kertyy liikaa vereen. Tästä aiheutuvat tyypilliset diabeteksen oireet ovat:
                            	<ul>
                                	<li>virtsanerityksen lisääntyminen</li>
                                    <li>jano</li>
                                    <li>tahaton laihtuminen</li>
                                    <li>väsymys.</li>
                                </ul>
                            </li>
                            <li><span></span>Tyypin 1 diabeteksen toteamisen viivästyminen voi johtaa happomyrkytykseen, joka on hengenvaarallinen tila. Sen oireita ovat pahoinvointi, oksentelu, vatsakivut ja asetonin haju hengityksessä, uneliaisuus ja lopulta tajuttomuus.</li>
                            <li class="mil_line"><span></span>Tyypin 2 diabetekselle on ominaista hidas kehittyminen ja salakavala oireettomuus. Oireina voi ilmetä väsymystä ja vetämättömyyttä varsinkin aterioiden jälkeen, masennusta ja ärtyisyyttä, jalkasärkyjä, näön heikkenemistä ja tulehdusherkkyyttä. Tyypin 2 diabeetikkojen lähisukulaisten on hyvätarkistuttaa verensokeriarvonsa aika ajoin, varsinkin jos ilmenee taipumusta keskivartalolihavuuteen. Voit myös käyttää <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.diabetes.fi/files/3105/Diabeteksen_riskitesti_lomake.pdf');" target="_blank" class="">riskitestiä.</a>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="heading2">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          RISKITESTI

                        </a>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="heading2">
                      <div class="card-block">
                      	<ul>
                        	<li><span></span>Kun diabeteksen riskitestin pisteet ovat <strong>12tai yli</strong>, on potilaan tilanne syytä kartoittaa laboratoriokokein ja/tai sokerirasituskokeella.</li>
                            <li><span></span>Riskitestin löydät <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.diabetes.fi/files/3105/Diabeteksen_riskitesti_lomake.pdf');" target="_blank" class="">täältä.</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="heading3">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          VERENSOKERI

                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="heading3">
                      <div class="card-block">
                        <ul>
                        	<li><span></span>Laboratoriossa verensokerin paastoarvo on <strong>6.1 mmol/ltai korkeampi</strong></li>
                            <li><span></span>Satunnaisessa mittauksessa verensokeri on <strong>8.0 mmol/l tai korkeampi</strong></li>
                            <li><span></span>HbA1c-arvo on <strong>yli 42 mmol/mol (6,0%)</strong></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingFour">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          MUUT ANAMNEESIN TIEDOT

                        </a>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="card-block">
                       <ul>
                        	<li><span></span>Metabolinen oireyhtymä</li>
                            <li><span></span>Raskausdiabetes</li>
                            <li><span></span>Uniapnea</li>
                            <li><span></span>Kihti</li>
                            <li><span></span>Suvussa diabetesta</li>
                        </ul>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
                  <ul class="checklist_bottom">
                <li class="mil_cnt2"> <p>Kriteerit</p>
                      <ul>
                    <li><strong>Pre-diabetes</strong>
                          <ul>
                        <li><span>-</span> Jos plasman glukoosipitoisuuden paastoarvo on 6,1–6,9 mmol/l, puhutaan suurentuneesta glukoosipitoisuuden paastoarvosta (impaired fasting glucose, IFG). <!--<strong class="checkbox checkbox-primary">
                  <input class="styled" type="checkbox"><label for="checkbox1"></label>
            </strong>--></li>
                        <li><span>-</span> Jos plasman glukoosipitoisuuden kahden tunnin arvo on 7,8 mmol/l–11,0 mmol/l, puhutaan heikentyneestä glukoosinsiedosta (impaired glucose tolerance, IGT).<!--<strong class="checkbox checkbox-primary checkbox_align"><input class="styled" type="checkbox"><label for="checkbox2"></label></strong>-->
                        </li>
                      </ul>
                        </li>
                    <li class="diabeet_cnt_spec5"><strong>Diabetes</strong>
                       <ul>
                        <li>paastoplasman glukoosipitoisuus (vähintään 8 tuntia ravinnotta) on 7 mmol/l tai suurempi tai</li>
                        <li>2 tunnin arvo sokerirasituskokeessa on plasmastamitattuna yli 11 mmol/l
                          <ul>
                            <li>Oireettomalla henkilöllä jompikumpi kohta tulee todetavähintään kahdesti.</li>
                          </ul>
                        </li>
                        <li class="mil_link2">Verensokerin viitearvoista lisää <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.diabetes.fi/diabetestietoa/yleista_diabeteksesta/oireet_ja_toteaminen/verensokerin_viitearvot');" target="_blank" class="">täällä</a>.<!--<strong class="checkbox checkbox-primary"><input class="styled" type="checkbox"><label for="checkbox2"></label></strong>--></li>
                      </ul>
                        </li>
                  </ul>
                    </li>
                <div class="milloin_btn">
                      <a href="pdf/Milloin_epailet_diabetesta/Yleiset_diabeetikon_laboratoriokokeet.pdf" target="_blank"><button type="button" class="btn btn-default">Laboratoriotutkimukset <span></span></button></a>
                    </div>
              </ul>
                </div>
          </div>
              <div class="tab-pane" id="2a">
            <div class="materiaalit_tab">
                  <ul class="materiaalit_pdf">

                <li><span></span><div class="materiaalit_pdf_cnt">Yleiset diabeetikon laboratoriokokeet</div><div class="materiaalit_pdf_btn"><a href="pdf/Milloin_epailet_diabetesta/Yleiset_diabeetikon_laboratoriokokeet.pdf" target="_blank" download="Yleiset_diabeetikon_laboratoriokokeet">
                  <button type="button" class="btn btn-default">Avaa</button>
                  </a></div></li>

                  <li><span></span><div class="materiaalit_pdf_cnt">Sinulla on todettu diabeteksen esiaste</div><div class="materiaalit_pdf_btn"><a href="pdf/Milloin_epailet_diabetesta/SINULLA_ON_TODETTU_DIABETEKSEN_ESIASTE.pdf" target="_blank" download="SINULLA_ON_TODETTU_DIABETEKSEN_ESIASTE">
                  <button type="button" class="btn btn-default">Avaa</button>
                  </a></div></li>
              </ul>
                </div>
          </div>
              <div class="tab-pane" id="3a">
            <ul class="materiaalit_link">

            <li><span></span>Riskitesti: <a data-toggle="modal" data-target="#external_link_popup" href="javascript:void(0);" onclick="set_path('http://www.diabetes.fi/riskitesti');" target="_blank" class="">http://www.diabetes.fi/riskitesti</a></li>



                  <!--<li><span></span>Kelan diagnoosikriteerit: <a href="http://www.kela.fi/laake103" target="_blank">http://www.kela.fi /laake103</a></li>
                  <li><span></span>Tulostettava ohje asiakkaalle korvausoikeuden hakemisesta (pdf): <a href="http://www.kela.fi/documents/10180/696642/Korvausoikeuden+hakeminen _Ohje+asiakkaalle19.4.2013.pdf/6bfa6a8b-b2f0-4171-9c9c-b7804b9e0888" target="_blank">http://www.kela.fi/ documents/10180/696642/ Korvausoikeuden+ hakeminen_Ohje +asiakkaalle19.4.2013.pdf /6bfa6a8b-b2f0-4171- 9c9c-b7804b9e0888</a></li>-->
                </ul>
          </div>
            </div>
      </div>
</div>
</div>
<!--Top Footer starts-->
<div class="row row_color4 ">
  <div class="container">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 footer_align">
      <div class="mil_link text-center">
        <figure class="footer_top_img">
            <a href="komplikaatiot.html" class="img_circle first_img"></a>
         </figure>
        <div class="footer_top_cnt ftr_top1"> <a href="komplikaatiot.html">Komplikaatiot</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center">
        <figure class="footer_top_img"> <a href="erityisryhmat.html" class="img_circle second_img"></a> </figure>
        <div class="footer_top_cnt ftr_top2"> <a href="erityisryhmat.html">Erityisryhmät</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center">
        <figure class="footer_top_img"> <a href="erityistilanteet.html" class="img_circle third_img"></a> </figure>
        <div class="footer_top_cnt ftr_top3"> <a href="erityistilanteet.html">Erityistilanteet</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <div class="mil_link text-center">
        <figure class="footer_top_img"> <a href="materiaalipankki.html" class="img_circle fourth_img"></a> </figure>
        <div class="footer_top_cnt ftr_top4"> <a href="materiaalipankki.html">Materiaalipankki</a> </div>
         </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
      <div class="mil_link text-center">
        <figure class="footer_top_img "> <a href="hoitopolku.html" class="img_circle fifth_img"></a> </figure>
        <div class="footer_top_cnt ftr_top5"> <a href="hoitopolku.html">Hoitopolku</a> </div>
         </div>
    </div>
  </div>
</div>

<div class="row row_color6">
  <div class="container no-padding">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-2 no-padding">
        <figure class="footer_logo">
          <a href="index.html"><img src="images/logo.png" class="img-responsive" alt="footer_logo" /></a>
        </figure>
      </div>
      <!--<div class="col-lg-6 col-md-6 col-sm-7 col-xs-10 no-padding pull-right footer_links">-->
      <div class="footer_links">
        <ul>
          <li><a href="https://www.lilly.fi/fi/privacy.aspx" target="_blank">Tietosuoja</a></li>
          <li><a href="https://www.lilly.fi/fi/terms-of-use.aspx" target="_blank">Käyttöehdot</a></li>
          <li><a href="yhteystiedot.html" target="_blank">Yhteystiedot</a></li>
          <li><a href="https://www.lilly.fi/fi/copyright.aspx" target="_blank">Copyright</a></li>
          <li><a>FIEBS00073 01/2017</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    </div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
          <div class="modal-body">
        <div class="row">
              <div class="col-md-4">Content</div>
              <div class="col-md-4 col-md-offset-4">Content1 Content2 Content3</div>
            </div>
      </div>
        </div>
  </div>
    </div>

<!--POP UP1 start-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.diabetes.fi/riskitesti" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP1 end-->
<!--POP UP2 start-->
<div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.diabetes.fi/diabetestietoa/yleista_diabeteksesta/oireet_ja_toteaminen/verensokerin_viitearvot" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP2 end-->
<!--POP UP3 start-->
<div class="modal fade" id="exampleModa3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.diabetes.fi/files/3105/Diabeteksen_riskitesti_lomake.pdf" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP3 end-->
<!--POP UP4 start-->
<div class="modal fade" id="exampleModa4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
        <a href="http://www.diabetes.fi/files/3105/Diabeteksen_riskitesti_lomake.pdf" target="_blank"><button type="button" class="btn popup_btn_left">Jatka</button></a>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!--POP UP4 end-->
<!--popups start-->
  <div class="modal fade in" id="external_link_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popup_block">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group popup_cnt">
            Klikkaamalla linkkiä siirryt pois Lillyn hallinnoimalta sivustolta ulkopuolisen palveluntarjoajan sivustolle.
          </div>
        </form>
      </div>
      <div class="popup_button">
       <button type="button" class="btn popup_btn_left" onClick="call_ext_link();" data-dismiss="modal">Jatka</button>
        <button type="button" class="btn popup_btn_right" data-dismiss="modal">Peruuta</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="cookie-message ui-widget-header blue">
      <p>By using this website you allow us to place cookies on your computer. They are harmless and never personally identify you.</p>
      <a class="cookiebar-close">Continue</a>
</div> -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/bootstrap-tabcollapse.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cookieBar/0.0.1/jquery.cookieBar.js"></script>
<script src="https://eucookie.xh1.lilly.com/Scripts/EUCookiesScript.js" type="text/javascript"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.js"></script>
<script>
	$(document).ready(function(){
	  $('.skin-square input').iCheck({
		checkboxClass: 'icheckbox_square-green',
		radioClass: 'iradio_square-green',
		increaseArea: '20%'
	  });
	});
</script>-->
<script type="text/javascript">
    function changeState(el) {
        if (el.readOnly) el.checked=el.readOnly=false;
        else if (!el.checked) el.readOnly=el.indeterminate=true;
    }
	$(function () {
	  // $('[data-toggle="tooltip"]').tooltip()
	})
</script>
<!-- <script>
	$(document).ready(function(){
	  $('.skin-square input').iCheck({
		checkboxClass: 'icheckbox_square-green',
		radioClass: 'iradio_square-green',
		increaseArea: '20%'
	  });
	});
</script> -->
<script type="text/javascript">
var curr_path;
function set_path(val) {
    curr_path = val;
}
function call_ext_link(){
	window.open(curr_path,'_blank');
}
</script>
